*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* body{
  background-color: #C9E4CA;
} */

body {
  background: linear-gradient(to right, #C9E4CA 45%, #87BBA2, #55828B, #3B6064, #364958);
  background-attachment: fixed;
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  /* https://coolors.co/c9e4ca-87bba2-55828b-3b6064-364958 */
  /* https://fonts.google.com/selection/embed */
}

#y{
  text-align: center;
}

#heyoo{
  position:relative;
  animation: linear;
  animation-name: run;
  animation-duration: 4s;
}

@keyframes run {
  0% {
    right: -100%;
  }
  50% {
    right: 0;
  }
  /* 100% {
    right: 0;
  } */
  /* https://stackoverflow.com/questions/41587802/css-animation-from-left-to-right */
}
