/* https://flexboxsheet.com/ */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to right, #C9E4CA 45%, #87BBA2, #55828B, #3B6064, #364958);
  background-attachment: fixed;
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: 100;
  font-style: normal; */
  /* https://coolors.co/c9e4ca-87bba2-55828b-3b6064-364958 */
  /* https://fonts.google.com/selection/embed */
}



/* @media only screen and (min-width: 768px) { */
@media only screen and (min-width: 992px) {
#container{
  /* border: 2px solid pink; */
  margin-top: 20px;
  display: flex;
  height: 425px;
}
}

@media only screen and (min-width: 992px) {
.container2{
  /* border: 2px solid red; */
  /* display: flex; */
  /* flex-direction: column; */
}
}

@media only screen and (min-width: 992px) {
.whole{
  /* border: solid 2px orange; */
  display: flex;
  /* flex-direction: row-reverse; */
  /* flex-wrap: wrap; */
  /* flex-grow: 1; */
  /* justify-content: space-evenly; */
  /* text-align:; */
  /* flex-basis: 100%; */
}
}

@media only screen and (min-width: 992px) {
  #alpha{
    text-align: left;
    /* display: flex; */
    /* flex-basis: 100%; */
  }
}

@media only screen and (min-width: 992px) {
  #b{
    text-align: left;
    /* display: flex; */
    /* flex-basis: 100%; */
  }
}

/* @media only screen and (min-width: 992px) {
  #c{
    text-align: left;
  }
} */

@media only screen and (min-width: 992px) {
#y{
  border: solid 2px black;
  margin-right: 25px;
  /* margin-left: 200px; */
  /* display: flex; */
  /* flex-direction: row-reverse; */
  /* flex-wrap: wrap; */
  /* flex-grow: 1; */
  /* justify-content: space-evenly; */
  /* flex-basis: 100%; */
  width: 75%;
}
}

/* @media only screen and (min-width: 992px) {
  #z{
    border: solid 2px black;
    margin-left: 20px;
    width: 70%;
  }
  } */

@media only screen and (min-width: 992px) {
#insideErr{
  /* border: 2px solid blue; */
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  flex-grow: 1;
  justify-content: space-evenly;
  }
}

@media only screen and (min-width: 992px) {
.scroll-container{
  /* border: 2px solid red; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  border-radius: 2px;
  /* box-shadow: 10px 10px 5px 12px #87BBA2; */
  /* box-shadow: 10px 0 10px 0 #87BBA2; */
  /* box-shadow: 0px -4px 3px #87BBA2; */
  box-shadow: 0px 0px 7px 2px #87BBA2;


}
}

@media only screen and (min-width: 992px) {
  img.pic{
    width: 400px;
    height: 400px;
    border-radius: 50%;
  }
}

@media only screen and (min-width: 992px) {
  #picBorder{
    /* display: inline-block; */
    /* border: 2px solid blue; */
    margin-bottom: 10px;
    height: 71%;
  }
  }

  @media only screen and (min-width: 992px) {
    .flip-card-back{
      /* display: inline-block; */
      /* border: 2px solid blue;
      margin-bottom: 10px; */
      visibility: hidden;
    }
    }


@media only screen and (min-width: 992px) {
  nav,
.scroll-container {
  /* border: 2px solid orange; */
  /* display: block; */
  margin: 0 auto;
  text-align: center;
  /* box-shadow: 10px 10px 5px 12px #55828B; */
}
nav {
  width: 339px;
  padding: 5px;
  border: 1px solid black;
}
.scroll-container {
  width: 500px;
  height: 400px;
  overflow-y: scroll;
  scroll-behavior: smooth;
  /* border: 2px solid orange; */
}
.scroll-page {
  /* display: flex; */
  margin-top: 10px;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 5em;
}
}






@media only screen and (max-width: 768px) {
  #container {
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    /* align-content: center;
    align-items: center;
    justify-content: center; */
    /* flex-basis: 15%; */
    /* margin-left: 5px; */
  }
}

@media only screen and (max-width: 768px) {
  #insideErr{
    /* border: 2px solid blue; */
    display: flex;
    flex-direction: column;
    /* align-content: center; */
    /* flex-direction: row-reverse; */
    /* flex-grow: 1; */
    /* justify-content: space-evenly; */
    align-items: center;
    }
}

@media only screen and (max-width: 768px) {
  nav, .scroll-container {
    /* border: 2px solid brown; */
    /* display: block; */
    margin: 0 auto;
    text-align: center;
  }
  nav {
    width: 339px;
    padding: 5px;
    border: 1px solid black;
  }
  .scroll-container {
    width: 500px;
    height: 400px;
    overflow-y: scroll;
    scroll-behavior: smooth;
  }
  .scroll-page {
    /* display: flex; */
    margin-top: 10px;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 5em;
  }
}

@media only screen and (max-width: 768px) {
  .card{
    /* border: 2px solid orchid; */
    display: inline-block;
  }
}
@media only screen and (max-width: 768px) {
  .scroll-page{
    /* border: 2px solid black; */
    /* display: flex; */
    /* flex-direction: row-reverse; */
    /* flex-wrap: wrap; */
    /* flex-direction: column-reverse; */
  }
}

@media only screen and (max-width: 768px) {
#picBorder{
  /* display: inline-block; */
  /* border: 2px solid purple; */
  margin-bottom: 10px;
}
}






#divTitle{
  align-content: center;
  text-align: center;
  margin-top: 25px;
}

#title{
  font-weight: 600;
  position:relative;
  animation: linear;
  animation-name: runTitle;
  animation-duration: 4s;
}
@keyframes runTitle {
  0% {
    right: -100%;
  }
  50% {
    right: 0;
  }
  /* 100% {
    right: 0;
  } */
  /* https://stackoverflow.com/questions/41587802/css-animation-from-left-to-right */
}


@media only screen and (max-width: 768px) {
img.pic, .flip-card, .flip-card-front {
  /* border: 2px solid red; */
  /* margin-top: 10px; */
  /* margin-right: 30px; */
  width: 300px;
  height: 300px;
  border-radius: 50%;
  animation: pulse 1s linear;
  /* animation-duration: 5s; */
  animation-iteration-count: 2;
  animation-timing-function: linear;
  animation-delay: 2s;
}

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  /* border: 1px solid #f1f1f1; */
  border-radius: 50%;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  /* border: 2px solid pink; */
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  /* background-color: #bbb; */
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: dodgerblue;
  color: white;
  transform: rotateY(180deg);
  /* https://www.w3schools.com/howto/howto_css_flip_card.asp */
}
}
